#$ vendor/bin/phpstan analyze

includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
	- phpstan-baseline.neon
parameters:
	level: max
	checkMissingIterableValueType: false
	paths:
		- functions.php
		- index.php
		- functions/
		- parts/
		- patterns/
		- assets/
		- templates/
