
/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--wp--preset--color--black);
}

strong {
	font-weight: 700;
}

.wp-block-quote cite {
	text-transform: uppercase;
}

.link-no-underline a {
	text-decoration: none;
}

.has-small-font-size a {
	text-decoration: none;
}

.tribe-events-meta-group a {
	color: inherit;
}

.has-text-color a,
.has-foreground-color.has-text-color a,
.has-background-color.has-text-color a {
	color: inherit !important;
}

.link-no-underline a:hover {
	text-decoration: underline;
	text-decoration-style: dashed;
}

.wp-block-button__link {
	text-transform: uppercase;
	font-weight: 500;
}

.has-tertiary-color {
	color: var(--wp--preset--color--tertiary) !important;
}

/* End Typography */

.two-column-both-text {
	gap: calc(var(--wp--style--block-gap, 1.5em) * 1.6) !important;
}


/* Header menu */
header .wp-block-navigation .wp-block-navigation-item__content {
	color: var(--wp--preset--color--black) !important;
}

/* End Header menu */

/* Menu styling */

@media (max-width: 599px) {

	header.wp-block-template-part {
		margin-block-start: var(--wp--style--block-gap);
	}

	.wp-block-site-logo img,
	.site-logo img {
		max-width: 216px;
	}

}

@media (max-width: 600px) {

	.wp-block-site-logo img {
		max-width: 62vw;
		height: auto;
	}
}


@media (min-width: 600px) {

	.wp-block-site-logo img,
	.site-logo img {
		max-width: 312px;
	}

	.wp-block-navigation .has-child :where(.wp-block-navigation__submenu-container) > .wp-block-navigation-item > .wp-block-navigation-item__content {
		flex-grow: 0;
		margin-left: auto;
	}
}

.wp-block-navigation__responsive-container-open {
	position: relative;
	justify-content: flex-end;
	padding-left: 1.5rem;
	width: 3.4rem;
}

.wp-block-navigation__responsive-container-open::before {
	content: "Menu ";
	position: absolute;
	top: 0.225rem;
	left: -0.5rem;
}

/* End Menu styling */

/* Utility classes */
.width-content-size {
	max-width: var(--wp--custom--width-content) !important;
}

.width-full-size {
	max-width: var(--wp--custom--width-full) !important;
}

.center-block {
	margin: 0 auto !important;
}

.wp-block-media-text__content h2 {
	margin-block-start: var(--wp--style--block-gap);
}

/* End Utility classes */

/* Page title & the yellow line under the page title */
.wp-block-post-title {
	font-weight: 500;
	padding-bottom: calc(var(--wp--style--block-gap) * 2);
}

h2.wp-block-post-title {
	font-size: var(--wp--preset--font-size--x-large);
	padding-bottom: calc(var(--wp--style--block-gap) / 6);
}

.wp-block-separator-after-title {
	border-color: var(--wp--preset--color--secondary) !important;
	position: relative;
	text-align: left;
	display: inline-block;
	width: 42vw !important;
	border-bottom-width: 2px !important;
}

@media (min-width: 600px) {

	.wp-block-separator-after-title {
		width: 20vw !important;
	}
}

/* End The yellow line under the page title */

/* Footer styling */

footer.wp-block-template-part {
	margin-block-start: 0 !important;
}

footer .has-small-font-size a:hover,
footer .has-small-font-size a:active {
	text-decoration: underline;
}

.shambhala-twentytwentytwo .shambhala-twentytwentytwo-footer h2 {
	margin-block-start: 0;
	margin-block-end: var(--wp--style--block-gap);
}

.shambhala-twentytwentytwo .shambhala-twentytwentytwo-footer p {
	margin-block-start: 0;
	margin-block-end: calc(var(--wp--style--block-gap) / 2);
}

.shambhala-twentytwentytwo .shambhala-twentytwentytwo-footer .has-small-font-size a {
	text-decoration: none;
}

.shambhala-twentytwentytwo .shambhala-twentytwentytwo-footer .has-small-font-size a:hover,
.shambhala-twentytwentytwo .shambhala-twentytwentytwo-footer .has-small-font-size a:active {
	text-decoration: underline;
}

/* End Footer styling */

/* Google maps custom HTML */
.google-maps {
	position: relative;
	overflow: hidden;
	height: 400px;
}

.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

/* End Google maps custom HTML */

/* Program styling */
.program-single-page-excerpt {
	font-style: italic;
}

.tribe-events-header__breadcrumbs.tribe-events-c-breadcrumbs {
	display: none;
}

@media (min-width: 768px) {

	.tribe-events-meta-group {
		padding: var(--tec-spacer-7) 0 var(--tec-spacer-3);
		width: auto;
	}
}

.program-image img {
	max-width: 100%;
}

.wp-block-post-featured-image.program-featured-image img {
	width: auto;
}

.tribe-single-event-date-info {
	font-size: var(--wp--preset--font-size--medium);
}

.program-list .program {
	background-color: var(--wp--preset--color--light-grey);
	padding: var(--wp--style--block-gap);
	margin-bottom: var(--wp--style--block-gap);
}

.program-list .entry-title.program-name {
	font-size: var(--wp--preset--font-size--x-large);
	padding-bottom: var(--wp--style--block-gap);
}

.program-image {
	display: inline-block;
	max-width: 600px !important;
	padding-bottom: var(--wp--style--block-gap);
}

.program-right-container i {
	font-style: normal;
	font-variant: normal;
}

.program-right-container br {
	display: none;
}

.program-right-container div[itemprop="description"] {
	margin-top: var(--wp--style--block-gap);
}

.program-list .program p {
	display: none;
}
