/* Heading capitalized  */
.is-style-heading-capitalized {
	font-family: var(--wp--preset--font-family--poppins) !important;
	font-size: var(--wp--preset--font-size--medium);
	color: var(--wp--preset--color--primary);
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1.6px;
}

/* End Heading capitalized  */

/* Block media text with rounded image */
.is-style-rounded-image img {
	border-radius: 50% !important;
}

/* End Block media text with rounded image */

/* Query list small styling  */
.wp-block-query.is-style-wp-block-query-small-grey li {
	background-color: var(--wp--preset--color--light-grey) !important;
	margin-block-start: calc(var(--wp--style--block-gap) / 2);
	margin-block-end: calc(var(--wp--style--block-gap) / 2);
	padding-left: calc(var(--wp--style--block-gap) * 1.5);
}

.wp-block-query.is-style-wp-block-query-small-grey .wp-block-post-date {
	margin-block-start: calc(var(--wp--style--block-gap) / 2);
}

.wp-block-query.is-style-wp-block-query-small-grey .wp-block-post-title {
	margin-block-start: calc(var(--wp--style--block-gap) / 2);
	padding-bottom: calc(var(--wp--style--block-gap) / 2);
	font-weight: 300;
}

.wp-block-query.is-style-wp-block-query-small-grey .wp-block-post-title a {
	text-decoration: none;
}

.wp-block-query.is-style-wp-block-query-small-grey .wp-block-post-title a:hover,
.wp-block-query.is-style-wp-block-query-small-grey .wp-block-post-title a:active {
	text-decoration: underline;
	text-decoration-style: dashed;
}

.wp-block-query.is-style-wp-block-query-small-grey .wp-block-post-featured-image,
.wp-block-query.is-style-wp-block-query-small-grey .wp-block-post-excerpt,
.wp-block-query.is-style-wp-block-query-small-grey .wp-block-separator,
.wp-block-query.is-style-wp-block-query-small-grey .wp-block-spacer {
	display: none;
}

/* End Query list small styling  */

/* Cover image hero with text with background */

.cover-image-with-text h1,
.cover-image-with-text p {
	padding: 1.25rem 2.375rem !important;
}

.has-lead-font-size {
	font-size: 2rem;
	font-size: clamp(1.25rem, 4vw, 1.85rem);
}

@media (max-width: 600px) {

	.wp-block-cover {
		height: auto !important;
		max-height: 80vh !important;
		min-height: 80vh !important;
	}

	.wp-block-cover.cover-image-with-text .wp-block-spacer {
		height: 318px !important;
	}

	.home .wp-block-cover.cover-image-with-text .wp-block-spacer {
		height: 200px !important;
	}
}

@media (max-width: 400px) {

	.home .wp-block-cover.cover-image-with-text .wp-block-spacer {
		display: none;
	}

}

/* End Cover image hero with text with background */
