<!-- wp:template-part {"slug":"header","theme":"shambhala-nl-twentytwentytwo"} /-->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"layout":{"inherit":false}} -->
<div class="wp-block-column">

<!-- wp:pattern {"slug":"shambhala-twentytwentytwo/hidden-title-news"} /-->

<!-- wp:separator {"align":"wide","className":"is-style-wide"} -->
<hr class="wp-block-separator wp-block-separator-after-title alignwide is-style-wide"/>
<!-- /wp:separator --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"shambhala-twentytwentytwo/query-grid"} /-->

<!-- wp:template-part {"slug":"footer","theme":"shambhala-nl-twentytwentytwo"} /-->
