<!-- wp:template-part {"slug":"header","theme":"shambhala-nl-twentytwentytwo"} /-->

<!-- wp:post-title {"isLink":true,"align":"wide","fontSize":"var(--wp--custom--typography--font-size--huge, clamp(2.25rem, 4vw, 2.75rem))"} /-->

<!-- wp:separator {"align":"wide","className":"is-style-wide"} -->
<hr class="wp-block-separator wp-block-separator-after-title"/>
<!-- /wp:separator -->

<!-- wp:template-part {"slug":"query-default","theme":"shambhala-nl-twentytwentytwo"} /-->

<!-- wp:template-part {"slug":"footer","theme":"shambhala-nl-twentytwentytwo"} /-->
